#bleu{
  background-color: blue;
}
#rouge{
  background-color: red;
}
img{
  max-width: 100%;
}
form{
  display: flex;
	flex-direction: column;
  width: 20%;
}
body{
  display: flex;
	flex-direction: column;
}
*{
  font-size: 16px;
}
h1{
  font-size: 25px;
}
#logo{
  background-image: url(logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
  background-size: 300px;
}
@media screen and(-webkit-max-device-pixel-ratio:2) {
  #logo{
    background-size: 300px;
  }
}
